
html, body{
    color: #fff;
    background-image: linear-gradient(-25deg, #d16ba5, #a777b9, #ba83ca, #aa8fd8, #9a9ae1, #8aa7ec, #79b3f4, #69bff8, #52affe, #41dfff, #46eefa, #5ffbf1);
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
}

.body-login{
    color: #fff;
    background-image: linear-gradient(-25deg, #00ff66, #61f89d, #7cfdc5);
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    display: flex;
}

.body-signup{
    color: #fff;
    background-image: linear-gradient(-25deg, #ff79f8, #fcafff, #ffbde0);
    width: 100%;
    height: 100%;
    position: relative;
    background-size: 400% 400%;
    animation: change 10s ease-in-out infinite;
    display: flex;
    justify-content: center;
}

@keyframes change{
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}

/*background-layout-final*/

.borrao{
    width: 1100px;
    height: 655px;
    overflow: hidden;
    position: relative;
    opacity: 80%;
}

.img-rainbow img{
    margin-top: 4%;
    width: 1300px;
    height: 600px;
    overflow: hidden;
    position: relative;
    opacity: 90%;
}

.imagecomp{
    opacity: 80%;
    position: fixed;
    width: 400px;
    height: 400px;
    top: 23%;
    left: 63%;
}

.logo{
    opacity: 80%;
    position: fixed;
    width: 50px;
    height: 50px;
    top: 6%;
    left: 5%;
}

.options p a{
    text-decoration: none;
    color: white;
}

.options{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 12px;
    position: fixed;
    border-bottom: 0.5px solid #fff;
    top: 10%;
    left: 70%;
    padding: 4px;
    display: flex;
}

.options p{
    opacity: 60%;
    transform: scale(1.0);
    margin-left: 10px;
    margin-right: 10px;
}

.options p:hover{
    opacity: 100%;
    transform: scale(1.2);
}

.text h1{
    font-family: 'Kalam', cursive;
    font-size: 20px;
    position: fixed;
    top: 5%;
    left: 5%;
    text-shadow: 2px 2px 20px black;
}

.text h3{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 100px;
    position: fixed;
    top: 45%;
    left: 5%;
    text-shadow: 2px 2px 20px black;
}

.text h4{
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-style: italic;
    line-height: 2.0;
    position: fixed;
    bottom: 20%;
    left: 5%;
    right: 50%;
    text-align: start;
}

.text h5{
    font-family: 'Open Sans', sans-serif;
    position: fixed;
    font-size: 8px;
    left: 5%;
    top: 90%;
}

/* signin-style*/

.firstbox{
    margin-top: 120px;
    margin-left: 530px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 200px;
    height: 380px;
    border-radius: 8px;
    background: rgba(252, 246, 246, 0.164);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-between;
    color: rgb(34, 33, 33);
    text-align: center;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    position: absolute;
}

.firstbox .logingirl{
    margin-top: 20px;
    width: 100x;
    width: 100px;
}


.login{
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    padding-bottom: 20px;
    font-size: 11px;
    width: 250px;
    height: 420px;
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    
}

.login .forgotpasswordbutton{
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    font-size: 11px;
    display: flex;
    margin-top: 5px;
    align-items: center;
    flex-direction: column-reverse;
    justify-content: space-between;
    opacity: 70%;
}

.login .forgotpasswordbutton:hover{
    opacity: 100%;
    border-bottom: 1px solid white;
}

.loginregister{
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    padding: 10px;
    font-size: 11px;
    display: flex;
    justify-content: space-between;
}

.loginregister a{
    text-decoration: none;
    font-family: 'Pathway Gothic One', sans-serif;
    color: rgb(13, 104, 104);
    font-size: 11px;
}

.loginregister a:hover{
    border-bottom: 1px solid rgb(13, 104, 104);
}

.signinbox{
    padding-top: 5px;
    padding-bottom: 5px;
    width: 300px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signinbox .signin{
    margin-top: 0px;
    padding: 10px;
    width: 200px;
    height: 70px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

input{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 15px;
    background-color: rgba(0, 0, 0, 0.397);
    padding: auto;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 200px;
    height: 20px;
    border: white;
    display: flex;
    align-items: center;
    color: white;
}

input::-webkit-input-placeholder{
    font-size: 15px;
    color: white;
    opacity: 60%;
}

/*button's style*/
.button{
    font-family: 'Pathway Gothic One', sans-serif;
    background-color:#a777b9;
    font-size: 15px;
    width: 206px;
    height: 30px;
    cursor: pointer;
    border: none;
    box-shadow: 3px 5px 4px #9349ad;
    text-decoration: none;
}

/*button's font style*/
a{
    text-decoration: none;
    color: white;
}

/* signup-style */

.firstbox-signup{
    margin-top: 120px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 800px;
    height: 400px;
    border-radius: 8px;
    background: rgba(252, 246, 246, 0.164);
    color: rgb(34, 33, 33);
    font-family: 'Pathway Gothic One', sans-serif;
    color: white;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.sec-box-signup{
    width: 820px;
    height: 350px;
    padding: 2px;
    display: flex;
    align-items: center;

}

.datas-box-1 {
    margin-top: 0px;
    padding: 10px;
    width: 420px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.space{
    width: 205px;
    height: 310px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

.space-names{
    width: 130px;
    height: 310px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: space-around;
}

.datas-box-2 {
    margin-top: 0px;
    padding: 10px;
    width: 420px;
    height: 320px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.opts{
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 13px;
    width: 700px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.opts .opts-2{
    margin-left: 10px;
    padding: 5px;
    height: 50px;
    display: flex;
    align-items: center;
}

.container {
    width: 60px;
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 13px;
    width: 13px;
    background-color: #eee;
    border-radius: 50%;
}
  
  /* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}
  
  /* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: rgba(0, 0, 0, 0.397);
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}
  
  /* Style the indicator (dot/circle) */
.container .checkmark:after {
    top: 5px;
    left: 4px;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: white;
}